<h1> <%=@house%> </h1>
<h2><%@members.count %>Order of the Phoenix Members</h2>

<% @members.each do |member| %>
<div class="member">
  <p class = "name"><%= member.name %> </p>
  <% if member.role %>
    <p class = "name"><%= member.role %> </p>
  <% end %>
  <p class = "name"><%= member.house %> </p>
  <% if member.patronus %>
    <p class = "name"><%= member.patronus %> </p>
  <% end %>
</div>
<% end %>
