<h1> <%=@house%> </h1>
<h2><%= @wizards.count %> Order of the Phoenix Members</h2>
<br/>

<% @wizards.each do |wizard| %>

<div class="wizard">
  <h4 class = "name"><%= wizard.name %> </h4>
  <% if wizard.role %>
    <p class = "role">Role: <%= wizard.role %> </p>
  <% end %>
  <p class = "house">House: <%= wizard.house %> </p>
  <% if wizard.patronus %>
    <p class = "patronus">Patronus: <%= wizard.patronus %> </p>
  <% end %>
</div>
<br />

<% end %>
