<h1> <%=@house%> </h1>
<h2><%@wizards.count %>Order of the Phoenix Members</h2>

<% @wizards.each do |wizard| %>
<div class="wizard">
  <p class = "name"><%= wizard.name %> </p>
  <% if wizard.role %>
    <p class = "name"><%= wizard.role %> </p>
  <% end %>
  <p class = "name"><%= wizard.house %> </p>
  <% if wizard.patronus %>
    <p class = "name"><%= wizard.patronus %> </p>
  <% end %>
</div>
<% end %>
