<h1> <%=@house%> </h1>
<h2><%= @wizards.count %> Order of the Phoenix Members</h2>
<ul>

<% @wizards.each do |wizard| %>
<li>
<div class="wizard">
  <p class = "name">Name: <%= wizard.name %> </p>
  <% if wizard.role %>
    <p class = "role">Role: <%= wizard.role %> </p>
  <% end %>
  <p class = "house">House: <%= wizard.house %> </p>
  <% if wizard.patronus %>
    <p class = "patronus">Patronus: <%= wizard.patronus %> </p>
  <% end %>
</div>
</li>
<br />
</ul>
<% end %>
